@charset "utf-8";
@import "../base.css";

@layer palette {
  :root {
      --palette-light: #ffffff;
      --palette-dark: #111827;
      --palette-contrast-light: var(--palette-light);
      --palette-contrast-dark: var(--palette-dark);
      --palette-red: #b3261e;
      --palette-green: #287a3c;

      --palette-primary-500: #806000;
      --palette-secondary-500: #1769aa;
      --palette-neutral-500: #998849;
  }
}
